__pycache__
__pycache__/*
*.pyc
*.pyo
*.pyd
.Python
*.so
.env
.venv
venv
AntiCheat_Report_*.txt
AntiCheat_Report_*.json
PushGithub.bat
PushGithub.bat*
query
.vs
.git
.vscode
*.code-workspace
*.pytest_cache
pyproject.toml
.mypy_cache
.pytest_cache
tests/*
tests
*.log
.coverage
htmlcov/
.idea/
*.egg-info/
dist/
build/
Thumbs.db
*.bak
$RECYCLE.BIN/